# scheduler-config.yaml
name: exchange-rate-update
# 土曜日 CET 09:00 (JST 17:00) に実行
# ECBレートは金曜16:00 CETに更新されるため、土曜朝に取得するのが最適
schedule: '0 17 * * 6'
timeZone: 'Asia/Tokyo'
target:
  type: httpTarget
  uri: [YOUR_CLOUD_RUN_URL]/api/update-exchange-rates
  httpMethod: POST
  headers:
    x-cloudscheduler: true
retryConfig:
  maxRetryAttempts: 3
  minBackoffDuration: 1s